In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
start = 1
end =50

In [8]:
log = pd.DataFrame(list(range(start, end, 1)),columns=['docId']).reindex()
log['action'] = "Unauthorized"
log['asset_id'] = "172.16.249.88"
log['bytesin'] = 0
log['bytesout'] = 2328
log['dip'] = "64.1.1.2"
log['direction'] = "Outbound"
log['dport'] = 445
log['dst_department'] = "null"

log['dst_loginid'] = "null"
log['dst_host'] = "null"
log['geolocation'] = "United States"
log['lat'] = 34.04564

log['lon'] = -118.24164
log['processpath'] = "unknown"
log['protocol'] = "TCP"
log['riskscore'] = 10

log['role'] = "null"
log['sessioncount'] = 4
log['sip'] = "172.16.249.88"
log['src_department'] = "null"
log['src_loginid'] = "null"

log['src_userid'] = "null"
log['src_host'] = "CTTEST03"
log['timestamp'] = "2022-10-13 04:10:58"
log['uniqcommid'] = "376fcf5fd9e0ebe5b9970b3a20264282"
log['uniqcount'] = "null"
log['log_type'] = "CTTEST03"

In [9]:
log.head()

,docId,action,asset_id,bytesin,bytesout,dip,direction,dport,dst_department,dst_loginid,...,sessioncount,sip,src_department,src_loginid,src_userid,src_host,timestamp,uniqcommid,uniqcount,log_type
0,1,Unauthorized,172.16.249.88,0,2328,64.1.1.2,Outbound,445,null,null,...,4,172.16.249.88,null,null,null,CTTEST03,2022-10-13 04:10:58,376fcf5fd9e0ebe5b9970b3a20264282,null,CTTEST03
1,2,Unauthorized,172.16.249.88,0,2328,64.1.1.2,Outbound,445,null,null,...,4,172.16.249.88,null,null,null,CTTEST03,2022-10-13 04:10:58,376fcf5fd9e0ebe5b9970b3a20264282,null,CTTEST03
2,3,Unauthorized,172.16.249.88,0,2328,64.1.1.2,Outbound,445,null,null,...,4,172.16.249.88,null,null,null,CTTEST03,2022-10-13 04:10:58,376fcf5fd9e0ebe5b9970b3a20264282,null,CTTEST03
3,4,Unauthorized,172.16.249.88,0,2328,64.1.1.2,Outbound,445,null,null,...,4,172.16.249.88,null,null,null,CTTEST03,2022-10-13 04:10:58,376fcf5fd9e0ebe5b9970b3a20264282,null,CTTEST03
4,5,Unauthorized,172.16.249.88,0,2328,64.1.1.2,Outbound,445,null,null,...,4,172.16.249.88,null,null,null,CTTEST03,2022-10-13 04:10:58,376fcf5fd9e0ebe5b9970b3a20264282,null,CTTEST03

In [10]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   docId           49 non-null     int64
 1   action          49 non-null     object
 2   asset_id        49 non-null     object
 3   bytesin         49 non-null     int64
 4   bytesout        49 non-null     int64
 5   dip             49 non-null     object
 6   direction       49 non-null     object
 7   dport           49 non-null     int64
 8   dst_department  49 non-null     object
 9   dst_loginid     49 non-null     object
 10  dst_host        49 non-null     object
 11  geolocation     49 non-null     object
 12  lat             49 non-null     float64
 13  lon             49 non-null     float64
 14  processpath     49 non-null     object
 15  protocol        49 non-null     object
 16  riskscore       49 non-null     int64
 17  role            49 non-null     object
 18  sessioncount    49 non-null     int64
 19  sip             49 non-null     object
 20  src_department  49 non-null     object
 21  src_loginid     49 non-null     object
 22  src_userid      49 non-null     object
 23  src_host        49 non-null     object
 24  timestamp       49 non-null     object
 25  uniqcommid      49 non-null     object
 26  uniqcount       49 non-null     object
 27  log_type        49 non-null     object
dtypes: float64(2), int64(6), object(20)
memory usage: 10.8+ KB

In [12]:
log.to_json('output.json',orient='records')